<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>DingChang Xu Portfolio</title>
	<meta name="keywords" content="Graphic design, Web design, UI/UX designer">
    <meta name="language" content="EN">
    <meta name="subject" content="porfolio, design, graphic, image, web, UX UI">
    <meta name="designer" content="DingChang Xu">
    <meta name="author" content="DingChang Xu">
    <meta name="copyright" content="DingChang Xu">
    <meta name="geo.region" content="CA-Ontario">
    <meta property="og:type" content="article">
    <meta property="og:title" content="DingChang Xu · Ottawa Graphic Designer">
    <meta property="og:url" content="www.DingChang Xu.ca">
    <meta property="og:image" content="/portfolio">
    <meta property="og:site_name" content="DingChang Xu">
    <meta property="og:discription" content="DingChang Xu UX UI Web designer based in Ottawa, Canada.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="DingChang Xu · Ottawa Graphic Designer">
    <meta name="twitter:url" content="www.DingChang Xu.ca">
    <meta name="twitter:description" content="DingChang Xu UX UI Web designer based in Ottawa, Canada.">
    <meta name="twitter:image" content="/portfolio">
    <meta name="description" content="DingChang Xu: creative disigner living in Ottawa. Combine knowledge of web design, interaction design, photography, and illustration as well as project facilitation and coordination ability to provide exceptional projects">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <link href="{{site.caseur}}/css/portfolio.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,100' rel='stylesheet' type='text/css'>
</head>
<body>
    
    <!--<ul class="skip-links">
        <li><a href="#nav">back to the top</a></li>
    </ul>-->  
<div class="wrapper">
    <div class="parallax-group">        
        <div class="back">
            <div id="header" class="section-dark masthead">                
                <div> 
                    <svg class="logo animated rubberBand" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 154.8 154.8">
                        <a xlink:href="index.html">
                            <circle cx="77.4" cy="77.4" r="72.4" fill="none" stroke="#FFF" stroke-width="10" stroke-miterlimit="10"/>
                            <path fill="#FFF" d="M120.1 45.4l-8.8-8.8c-6.3-6.2-16.4-6.2-22.7 0L43.9 81.5l-8.1 39.4 39.6-8L120.1 68c6.3-6.2 6.3-16.4 0-22.6zm-27.9-5.2c4.3-4.3 11.3-4.3 15.6 0l8.8 8.8c4.3 4.3 4.3 11.3 0 15.6l-1.6 1.6-24.5-24.4 1.7-1.6zM64.3 93.7c.1.1.1.1 0 0-.1.3-.3.4-.5.5.2-.2.4-.3.5-.5zm18.1-43.1l4.9-4.9 23.8 23.7-4.9 4.9-23.8-23.7zM52.1 80.4l-1.7-1.8 1.7 1.8 26.4-26.5 11.1 11-27 27.1c-.1.1-.2.1-.3.2-.1 0-.1.1-.2.1-2.3 1.4-6.3 1.1-9-1.6-2.9-2.9-3-8.2-1-10.3zm-3.7 32.9l-4.9-4.9 3.7-17.7c.6 1.3 1.5 2.6 2.5 3.6 2.7 2.7 6.5 4.1 10 3.9-.3 3.4.9 7 3.6 9.7.7.7 1.6 1.4 2.5 1.9l-17.4 3.5zm27.9-8.4c-2.2 1.9-6.8 2-9.5-.6-2.4-2.4-2.9-6-1.2-8.3l27.5-27.6 9.8 9.8-26.6 26.6c.1.1.1.1 0 .1zm1.6 2l.4-.4-.4.4z"/>
                        </a>
                    </svg>
                </div>
            </div> 
              
        </div>
        
<h1 class="myself animated zoomIn">I'M DING CHANG XU<br>I'M A CREATIVE DESIGNER</h1>
        
        <div class="front grid">
            <section class="boxes unit unit-xs-1 unit-s-1 unit-m-1-1 unit-l-1-3">
                <div class="box1 island-2">
                    <h2>ABOUT ME</h2>
                    <P>My name is DingChang Xu, currently living in Ottawa, Canada. In this role I combine my knowledge of web design, interaction design, photography, and illustration as well as project facilitation and coordination ability to provide exceptional projects.</P>
                </div>
            </section>
    
            <section class="boxes unit unit-xs-1 unit-s-1 unit-m-1-1 unit-l-1-3">
                <div class="box2 island-2">
                    <h2>MY WORK</h2>
                    <p>My Work can help you design your customize website and setup your social networking profile. From a professional design, logo, photography, hosting, domain, emails, support and Content Management System (CMS) access, this complete website solution is perfect for tradesmen, individuals and small to medium sized businesses, helping you build a community of customers connected directly with your brand.</p>
                </div>
            </section>

            <section class="boxes unit unit-xs-1 unit-s-1 unit-m-1-1 unit-l-1-3">
                <div class="box3 island-2">
                    <h2>PHOTOGRAPHY</h2>
                    <p>Rising along the border between Alberta and British Columbia, the Canadian Rockies are a wonderland of twisting peaks. Each day is a new adventure! Experience unparalleled access to amazing wilderness scenery and wildlife habitats.</p></div>
            </section>
        </div><!--front intro end-->
        
{{content}}        
              
<footer class="footer">    
    <div>
      <p>© 2015 DingChang Xu</p>
      <p>
        Ottawa, ON<br>
        (613)252 — 8240
      </p>
    </div><!-- contact end-->
  
    <div class="grid socil-icon">
        <div class="unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3">
            <a href="https://vimeo.com/user20563910">
                <img class="icon" src="image/v-w.svg" alt="Vimeo">
            </a>
        </div>
        
        <div class="unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3">
            <a href="https://www.behance.net/dingchangxu">
                <img class="icon" src="image/be-w.svg" alt="Behence">
            </a>
        </div>
        
        <div class="unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3">
            <a href="https://www.pinterest.com/07akr7ctywlasvq/">
                <img class="icon" src="image/p-w.svg" alt="Pinterest">
            </a>
        </div>

        </div><!--socil-icon end-->
</footer><!--footer end-->

    </div>
</div>
</body><!--body end-->
</html>